<article class="w-32">
  <div class="flex justify-center items-center w-32 h-20">
    <img src="{{img_url feature_image}}" alt="" />
    <a href="{{url}}"> TITLE in POST => {{title}}</a>
    <p>CONTENT in POST => {{content}}</p>
  </div>
</article>